/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.section-title-2 {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-size: 140%;
    font-weight: 800;
}

/****** Header ***********/
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}

.menus {
    display: block;
}

#logo {
    width: 6em;
}

.bouton-header-1 {
    margin-right: 3em;
}

.bouton-header-1:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    margin-right: 3em;
    padding-top: 1.5em;
}

.bouton-header-2:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 1.5em;
}

/****** Main ***********/
.search {
    margin: 1em;
    padding-top: 1em;
    line-height: 0.7;
}

#rechercher {
    width: 12em;
    font-size: 100%;
    text-align: center;
    height: 2.7em;
    font-weight: 800;
    border: 1px solid #F2F2F2;
    margin-top: 1em;
}

#button-rechercher {
    font-weight: 800;
    font-size: 100%;
    width: 8em;
    height: 2.9em;
    position: relative;
    right: 0.5em;
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0% 25% 25% 0% / 100% 50% 50% 100%;
    cursor: pointer;
}

.localisation {
    padding-top: 0.8em;
    padding-bottom: 0.8em;;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-start;
}

#localisation-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    color: black;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25% 0% 0% 25%;
    margin-top: 1em;
}

.filtre {
    display: inline-block;
}

#h1-filtres {
    display: inline-block;
    margin-right: 0.8em;
    font-size: 110%;
    font-weight: 800;
}

#filtre-logo {
    margin-right: 1em;
    margin-left: 0.2em;
}

button {
    margin-right: 0.8em;
    margin-left: 0.2em;
    padding: 0.7em;
    font-size: 110%;
    font-weight: 800;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 25% 25% 25% 25% / 80% 80% 80% 80%;
}

button:hover {
    margin-right: 0.8em;
    margin-left: 0.2em;
    padding: 0.7em;
    font-size: 110%;
    font-weight: 800;
    background-color: #DEEBFF;
    border: 2px solid #F2F2F2;
    border-radius: 25% 25% 25% 25% / 80% 80% 80% 80%;
}

/****** Activités ***********/
.activity-sec {
    width: auto;
}

.activity section {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 2.5em;
}

.activity-title {
    display: flex;
}

.container {
    width: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5em;
}

.item {
    width: 17em;
    height: 23em;
    overflow: hidden;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    box-shadow: 1px 3px 3px 1px #F2F2F2;
}

.item img{
    display: block;
    width: auto;
    max-height: 88%;
    object-fit: cover;
}

.item-fp {
    width: 17em;
    height: 23em;
    overflow: hidden;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    box-shadow: 1px 3px 3px 1px #F2F2F2;
}

.item-fp img{
    display: block;
    width: 100%;
    max-height: 88%;
    object-fit: cover;
}

.item-txt {
    display: inline-block;
    font-weight: 800;
    padding-left: 1em;
    padding-top: 0.8em;
}

.item:hover, .item-fp:hover {
    opacity: 0.5;
}
/****** Icones Informations ***********/
p {
    display: inline;
}

#info-logo {
    position: relative;
    bottom: 0.2em;
    display: inline-block;
    font-size: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    margin-right: 0.5em;
    margin-left: 1em;
    margin-bottom: 2.5em;
    margin-top: 2em;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Footer ***********/
.footer-bg section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
    background-color: var(--main-bg-color);
    padding: 10px 30px 10px 30px;
    margin-top: 2em;
    box-sizing: border-box;
}

.foot-1, .foot-2, .foot-3 {
    padding-right: 16em;
}

#h1-footer {
    display: flex;
    margin-right: 0.8em;
    font-size: 110%;
    font-weight: 800;
}

#h2-footer {
    display: flex;
    margin-right: 0.8em;
    font-size: 100%;
    font-weight: 400;
}

#h2-footer:hover {
    text-decoration: underline;
    display: flex;
    margin-right: 0.8em;
    font-size: 100%;
    font-weight: 400;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}